<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'lista_post' %}">Atelier</a>
      </li>
      
      {% if not user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
      {% elif user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create_post' %}">Novo Post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Sair</a>
        </li>
      {% endif %}
    
    </ul>
</nav>