{% extends 'base.html' %}
{% load static %}

{% block head %}

    <link rel="stylesheet" href="{% static 'autenticacao/css/login.css' %}">

{% endblock head %}

{% block content %}
        
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
            
                            <div class="mb-md-2 mt-md-1 pb-2">
                
                                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                                <p class="text-white-50 mb-5">Please enter your usename and password!</p>
                                
                                <form action="{% url 'login' %}" method="post">
                                    {% csrf_token %}
                                    
                                    <div class="form-outline form-white mb-4">
                                        <input name="usuario" type="text" class="form-control form-control-lg"/>
                                        <label class="form-label">Username</label>
                                    </div>
                    
                                    <div class="form-outline form-white mb-4">
                                        <input name="password" type="password" class="form-control form-control-lg" />
                                        <label class="form-label">Password</label>
                                    </div>
                    
                                    <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="{% url 'reset' %}">Forgot password?</a></p>
                    
                                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                                </form>

                            </div>
            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
