.gradient-custom {
    margin-top:20px;  
    background-color: green;
}

.thumb img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.post-user img {
  border: 3px solid white;
}

.widget {
  position: relative;
  margin-bottom: 30px;
  padding: 15px 20px;
  background: #fff;
  border-radius: 3px;
}

.widget-controls {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 14px;
  font-size: 12px;
}

.widget-controls>a {
  padding: 1px 4px;
  border-radius: 4px;
  color: rgba(0,0,0,0.4);
  -webkit-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
}

.thumb {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 48px;
}

.thumb img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.post-user img {
  border: 3px solid white;
}

.fs-mini {
  font-size: 13px;
}

.bg-danger, .bg-info {
  -webkit-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
}

.bg-danger {
  background-color: #dd5826;
}

.bg-info {
  background-color: #39bbdb;;
}

.text-white {
  color: black;
}

 .widget-middle-overflow {
  position: relative;
  margin: 0 -20px;
}

.windget-padding-md {
  padding: 15px 20px;
}

.mb-lg {
  margin-bottom: 30px;
}

.mt-lg {
  margin-top: 30px;
}

.fw-semi-bold {
  font-weight: 600;
}

.tags {
  padding-left: 0;
  list-style: none;
}

.tags>li>a {
  padding: 2px 8px;
  font-size: 13px;
  border-radius: 6px;
  border: 1px solid white;
  color: inherit;
  text-decoration: none;
}

.fs-mini {
  font-size: 13px;
}

.text-light {
  opacity: .8;
}

.mt-sm {
  margin-top: 10px;
}

.bg-body-light {
  background-color: #f6f6f6;
}

.widget > footer {
  margin: 0 -20px -15px;
  padding: 30px 20px;
}

.post-links {
  margin-bottom: 0;
  font-size: 12px;
  padding-left: 0;
}

.post-links>li {
  float: left;
  list-style: none;
  margin:8px;
}

.post-links>li>a {
  text-decoration: none;
  color: #999;
}
