.widget {
position: relative;
margin-top: 30px;
margin-bottom: 30px;
padding: 15px 20px;
background: #2f2f5f;
border-radius: 3px;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    color: white;
    text-decoration: underline;
}

h5 {
    text-align: center;
    color: white;
}

p {
    color: white;
    background-color: #6837b2;
    padding: 15px;
    border-radius: 5px;
}

.post-user {
    margin-bottom: 0px;
}
.fs-mini {
font-size: 13px;
}

.fw-semi-bold {
font-weight: 600;
}

.text-light {
opacity: .8;
}

.mt-sm {
margin-top: 10px;
}
