{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href={% static 'post/css/lista_post.css' %}>
{% endblock head %}

{% block content %}
    <h1>RECEITAS DA MAMÃE</h1>

    <div class="container-fluid">
        <div class="container bootstrap snippets bootdey">
            <div class="row">
                {% for post in posts %}
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <section class="widget">
                            <div class="widget-body">
                                <div class="post-user mt-n-xs">
                                    <a href=""><h5 class="mb-xs mt-xs"><span class="fw-semi-bold">{{ post.titulo }}</span></h5></a>
                                    <br>
                                </div>
                                
                                <p>
                                    {{ post.descricao_curta }}
                                </p>

                            </div>
                        </section>
                    </div>
                {% endfor %}
            
            </div>
        </div>
    </div>
{% endblock content %}